.App {
  display: flex;
  min-height: 100vh;
}

.content {
  flex-grow: 1;
  padding: 0;
  height: 100vh;
  overflow-y: auto;
  background-color: var(--background-color);
}

/* Mobile styles */
@media (max-width: 768px) {
  .App {
    flex-direction: column;
  }
  
  .content {
    height: auto;
    min-height: calc(100vh - 60px);
    padding: 1rem;
  }
}