@import './styles/variables.css';
@import './styles/globals.css';
@import './styles/utilities.css';

body {
  margin: 0;
  font-family: var(--font-family-sans-serif);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  direction: rtl;
  background-color: var(--light-color);
  color: var(--text-primary);
  font-size: var(--font-size-base);
  line-height: 1.6;
  font-weight: var(--font-weight-normal);
}

code {
  font-family: var(--font-family-monospace, source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace);
}